@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.columns{
    /* column-count: 3;
    column-width: 250px; */
    columns: 3 250px;
    column-rule: 1px solid gray;
    column-gap: 3rem;   
}

.columns p{
    margin-top: 0;
}
.columns h2 {
    background-color: grey;
    padding: 1rem;
    margin-top: 0;
    break-inside: avoid;
    break-before: column;
}

.columns .quote{
    font-size: 3rem;
    text-align: center;
    color: #333;
    /* complete sentence will be inserted between the columns */
    column-span: all;
    margin-top: 2rem;
}

.nowrap{
    /*complete sentence will be int he line  */
    white-space: nowrap;
}