@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || GENERAL STYLES */
body {
  font: 1.5rem "Nunito", sans-serif;
  min-height: 100vh;

  background-color: aqua;
  background-image: radial-gradient(whitesmoke, gray);
  display: flex;
  flex-direction: column;
}

header, nav, main, footer{
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

header, footer{
  position: sticky;
  background-color: #1E293B;
  color: white;
}
header{
  top: 0;
}
main{
  flex-grow: 1 ;
}
nav{
  background-color: white;
  color: #1E293B;
  padding: 0.5rem;
  border-bottom: 2px solid black;
}
footer{
  bottom: 0;
}
 
 /* || Mobile */
@media screen and (min-width: 576px) {
  body{
    background-color: green;
    background-image:radial-gradient(white, green) ;
  }
  nav{
    display: none;
  } 
}

 /* || Tab */
 @media screen and (min-width: 768px) {
  body{
    background-color: gold;
    background-image:radial-gradient(white, gold) ;
  }

}

 /* || PC */
@media screen and (min-width: 992px) {
  body{
    background-color: red;
    background-image:radial-gradient(white, red) ;
  }

}

 /* || mobile landscape */
 @media screen and (max-height:425) and (min-aspect-ratio:7/4) {
  body{
    background-color: blue;
    background-image:radial-gradient(white, blue) ;
  }
  nav{
    display: none;
  }

}